//Fonts
@import "../../fonts/fonts";

//Core files
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "variables";
@import "./node_modules/bootstrap/scss/mixins";

@import "theme-light";
@import "theme-dark";

// Structure
@import "../../structure/topbar";
@import "../../structure/page-head";
@import "../../structure/footer";
@import "../../structure/vertical";
@import "../../structure/horizontal";
@import "../../structure/two-column";
@import "../../structure/layouts";

// Components
@import "../../components/waves";
@import "../../components/avatar";
@import "../../components/accordion";
@import "../../components/helper";
@import "../../components/preloader";
@import "../../components/forms";
@import "../../components/widgets";
@import "../../components/demos";
@import "../../components/print";
@import "../../components/ribbons";
@import "../../components/toast";
@import "../../components/scrollspy";

// Bootstrap components
@import "../../components/reboot";
@import "../../components/alerts";
@import "../../components/backgrounds";
@import "../../components/badge";
@import "../../components/buttons";
@import "../../components/breadcrumb";
@import "../../components/card";
@import "../../components/dropdown";
@import "../../components/nav";
@import "../../components/table";
@import "../../components/modal";
@import "../../components/pagination";
@import "../../components/progress";
@import "../../components/popover";
@import "../../components/type";
@import "../../components/form-check";
@import "../../components/form-control";
@import "../../components/list-group";

// Plugins
@import "../../plugins/sortablejs";
@import "../../plugins/swiper";
@import "../../plugins/gridjs";
@import "../../plugins/listjs";
@import "../../plugins/apexcharts";
@import "../../plugins/chartjs";
@import "../../plugins/echarts";
@import "../../plugins/select2";
@import "../../plugins/toastify";

// Pages
@import "../../pages/dashboard";
@import "../../pages/errors";
@import "../../pages/profile";
@import "../../pages/landing";
@import "../../pages/nft-landing";